// @import "./variables";

// Typography Styles
body {
  font-family: $body-font;
  line-height: $line-height;
}

// h1,
// h2,
// h3 {
//   font-family: $heading-font;
// }

main li {
  line-height: 1.8;
}
