// Fonts
$body-font: "Open Sans", sans-serif;
$heading-font: "Arvo", serif;

// Typographic Defualts
$line-height: 1.4;

// Color
$background: #e6e6e6;

:root {
  --background-color: #e6e6e6;
  --button-green: #43b343;
}
